WinFormsApp/.vs/WinFormsApp/FileContentIndex/90fb7521-ea37-425a-a083-a10c2c1b62ce.vsidx
WinFormsApp/.vs/WinFormsApp/FileContentIndex/db378ee8-a1bb-4088-bce7-0319b6637b51.vsidx
WinFormsApp/.vs/WinFormsApp/v17/.suo
WinFormsApp/.vs/WinFormsApp/v17/DocumentLayout.backup.json
WinFormsApp/.vs/WinFormsApp/v17/DocumentLayout.json
WinFormsApp/WinFormsApp/bin/Debug/net8.0-windows/WinFormsApp.deps.json
WinFormsApp/WinFormsApp/bin/Debug/net8.0-windows/WinFormsApp.dll
WinFormsApp/WinFormsApp/bin/Debug/net8.0-windows/WinFormsApp.exe
WinFormsApp/WinFormsApp/bin/Debug/net8.0-windows/WinFormsApp.pdb
WinFormsApp/WinFormsApp/bin/Debug/net8.0-windows/WinFormsApp.runtimeconfig.json
WinFormsApp/WinFormsApp/obj/project.assets.json
WinFormsApp/WinFormsApp/obj/project.nuget.cache
WinFormsApp/WinFormsApp/obj/WinFormsApp.csproj.nuget.dgspec.json
WinFormsApp/WinFormsApp/obj/WinFormsApp.csproj.nuget.g.props
WinFormsApp/WinFormsApp/obj/WinFormsApp.csproj.nuget.g.targets
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/apphost.exe
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.AssemblyInfo.cs
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.AssemblyInfoInputs.cache
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.assets.cache
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.csproj.BuildWithSkipAnalyzers
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.csproj.CoreCompileInputs.cache
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.csproj.FileListAbsolute.txt
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.designer.deps.json
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.designer.runtimeconfig.json
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.dll
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.GeneratedMSBuildEditorConfig.editorconfig
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.genruntimeconfig.cache
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.GlobalUsings.g.cs
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.pdb
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.sourcelink.json
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/ref/WinFormsApp.dll
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/refint/WinFormsApp.dll
WinFormsApp/.vs/WinFormsApp/FileContentIndex/3c47ec15-50c9-42a3-8eb3-22228b9ef78f.vsidx
WinFormsApp/.vs/WinFormsApp/FileContentIndex/5f071c6c-8f22-4804-ac9c-7bad12789ff4.vsidx
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.csproj.GenerateResource.cache
WinFormsApp/WinFormsApp/obj/Debug/net8.0-windows/WinFormsApp.Form1.resources
WinFormsApp/.vs/WinFormsApp/FileContentIndex/3707bf89-b3b7-4291-9dfe-a3464591ee07.vsidx
WinFormsApp/.vs/WinFormsApp/FileContentIndex/9ce96c85-e1e1-4fbb-bd48-34cf2924596b.vsidx
WinFormsApp/.vs/WinFormsApp/FileContentIndex/e2763c78-fd77-402d-8e35-9972273fe9c6.vsidx
WinFormsApp/.vs/ProjectEvaluation/winformsapp.metadata.v9.bin
WinFormsApp/.vs/ProjectEvaluation/winformsapp.projects.v9.bin
WinFormsApp/.vs/ProjectEvaluation/winformsapp.strings.v9.bin
WinFormsApp/.vs/WinFormsApp/DesignTimeBuild/.dtbcache.v2
WinFormsApp/.vs/WinFormsApp/FileContentIndex/3633ca2d-1bd9-49b2-946f-c5d9e932e3bb.vsidx
WinFormsApp/.vs/WinFormsApp/v17/.futdcache.v2
WinFormsApp/.vs/WinFormsApp/FileContentIndex/ea1237a2-94cc-48f3-9de8-42b73f8967a3.vsidx
